.home-slick {
  padding: 3.5rem;
  background: #e6e6e6;
}

.slick-container {
  position: relative;
}

.slick-container .bg {
  background-image: url(/images/bg1.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
}

.feedback-intro {
  font-size: 18px;
  text-align: center;
  margin: 15px;
}
.contain {
  z-index: 1;
}
.contain p {
  padding: 6rem;
  font-size: 18px;
  font-style: italic;
  line-height: 1.5em;
  align-self: flex-start;
  text-align: left;
}

.home-slick h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Fuggles", cursive;
}

.slick-text {
  border: 2px solid;
  background-color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
}

@media all and (max-width: 800px) {
  .contain p {
    padding: 0.8rem;
    font-size: 12px;
  }

  .slick-container h1 {
    font-size: 50px;
  }

  .slick-text p {
    padding: 3px;
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media all and (max-width: 550px) {
  .home-slick h1 {
    font-size: 35px;
  }

  .feedback-intro {
    font-size: 12px;
  }

  .slick-text p {
    font-size: 10px;
  }
}

@media all and (max-width: 450px) {
  .home-slick {
    padding: 2rem;
  }

  .slick-text p {
    padding: 3px;
    margin-left: 45px;
    margin-right: 45px;
  }
}
