.home-services {
  padding: 5rem;
  color: #fff;
  /* background: rgb(85, 75, 75); */
}
.home-services h1 {
  text-align: center;
  text-transform: uppercase;
}

.experience-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.experience-grid {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10rem;
  position: relative;
  margin: 50px 0 45px;
}

.experience-details h2 {
  text-align: center;
  font-size: 50px;
  margin: 20px;
  letter-spacing: 10px;
}
.experience-details span {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

@media all and (max-width: 800px) {
  .experience-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -10px;
  }
}
