.about-container {
  display: flex;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.section-title {
  font-size: 3rem;
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
}
.separator {
  margin: 10px auto;
  height: 3px;
  width: 15rem;
  background: #e91e63;
  bottom: -10px;
}

.col-left {
  width: 600px;
  height: 400px;
  padding-left: 60px;
}
.col-right {
  width: 100%;
  text-align: left;
  padding: 30px;
}
.col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
.col-right p {
  margin-bottom: 20px;
}

.about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}
.about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}

.about-img::after {
  left: -45px;
  top: 34px;
  height: 98%;
  width: 98%;
  border: 10px solid crimson;
}

.col-right h1 {
  text-align: left;
}
.about-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media all and (max-width: 1300px) {
  /* ABOUT COMPONENT */
  .about-container {
    flex-direction: column;
    align-items: center;
    width: 60%;
  }

  .col-left {
    width: 400px;
    height: 400px;
    margin-top: -80px;
  }

  .col-right {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
  }
}
