.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  position: relative;
  padding: 3rem;
  overflow: hidden;
  margin: 10px;
}

.form-wrapper {
  width: 100%;
  max-width: 1300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #bc1a48;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 50px;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 40px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: grid;
  margin: 0.7rem 50px;
}

.social-icons i {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: #15595a;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.social-icons i:hover {
  transform: scale(1.05);
  background-color: #fff;
  color: #15595a;
  border: 1px solid #15595a;
  transition: 350ms ease-in;
}
.social-name {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
}

.contact-form {
  background-color: #15595a;
  position: relative;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #15595a;
  transform: rotate(45deg);
  top: 60px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.contact-form .title {
  color: #fff;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 1px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-size: 25px;
  line-height: 1.625em;
  border-radius: 10px;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 10px;
  resize: none;
  overflow-y: auto;
}

.btn-contact {
  padding: 0.6rem 2.3rem;
  width: auto;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #15595a;
  line-height: 1;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn-contact:hover {
  background-color: transparent;
  color: #fff;
}

.map-section {
  display: flex;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
  margin-top: -90px;
  margin-bottom: 50px;
}

.map-section iframe {
  background-color: #fff;
  padding: 10px;
  z-index: 1001;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 20%);
  overflow: hidden;
}

@media all and (min-width: 850px) and (max-width: 1070px) {
  .contact-info .title,
  .contact-form .title {
    font-size: 3.5rem;
  }
}

@media all and (max-width: 850px) {
  .contact-section {
    align-items: center;
    justify-content: center;
  }
  .contact-container {
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 5px;
  }
  .contact-info {
    text-align: center;
  }
  .form-wrapper {
    grid-template-columns: 1fr;
  }
  .contact-container {
    padding: 1.5rem;
  }
  .contact-info .title,
  .contact-form .title {
    font-size: 2rem;
    text-align: center;
  }

  .contact-form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .info-wrapper {
    display: grid;
    justify-content: center;
  }
  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .social-icons {
    display: flex;
    margin-top: 0.5rem;
    font-size: 0.95rem;
    justify-content: center;
  }
  .social-name {
    display: grid;
    margin: 1rem;
  }

  .icon {
    width: 30px;
  }
}

@media all and (max-width: 500px) {
  .form-wrapper {
    justify-content: center;
  }
  .information {
    display: flex;
    margin: 0.2rem 5px;
    align-items: center;
  }
  .social-icons {
    display: flex;
  }
  .social-name {
    display: grid;
    margin: 0.5rem;
  }
}
