.services-container {
  text-align: center;
  padding: 0rem 0 2rem 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.services-top {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.services-wrapper::before,
.services-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.panel-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.panel {
  position: relative;
  margin: 50px 20px;
  padding: 0 20px 20px;
  background: #f2f2f2;
  overflow: hidden;
  width: 270px;
  height: 450px;
  text-align: center;
  box-shadow: 0 0 20px 8px #d0d0d0;
  transition: border 200ms ease-in-out;
  cursor: pointer;
}
.panel img {
  width: 40%;
}
.services-wrapper .panel h3 {
  display: block;
  margin-bottom: 25px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services-wrapper .panel p {
  font-size: 15px;
  text-shadow: 0 1px 1px white;
}

.services-wrapper .panel .slide {
  position: absolute;
  bottom: 450px;
  left: 0;
  z-index: 100;
  padding: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #15595a;
  box-sizing: border-box;
  transition: all 300ms 500ms cubic-bezier(0.645, 0.045, 0.0355, 1);
}

.services-wrapper .panel .slide h4 {
  margin-bottom: 20px;
  text-align: center;
  text-shadow: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.services-wrapper .panel .slide ul li {
  padding: 5px 5px 5px 8px;
  line-height: 50px;
  font-size: 15px;
  color: white;
  border-bottom: 1px solid #3e737b;
  list-style: none;
}

.services-wrapper .panel .slide ul li:last-child {
  border: 0;
}

.services-wrapper .panel .slide ul li .fa {
  padding-right: 80px;
  color: #fefefe;
}

.panel:hover {
  border: 2px solid #30bb57;
}

.panel:hover .slide {
  bottom: 0;
  cursor: pointer;
}
.fa-4x {
  color: crimson;
}

.skills-container {
  text-align: center;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
  overflow: hidden;
}
.bd-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  margin-top: 50px;
}

.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 10px 25px rgba(14, 36, 49, 0.15);
}

.skills-names {
  display: flex;
  align-items: center;
}
.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #000;
  height: 0.35rem;
  border-radius: 0.5rem;
  z-index: -10;
}
.skills-engineering {
  width: 25%;
}
.skills__realEstate {
  width: 10%;
}
.skills__architecture {
  width: 55%;
}
.skills__attend {
  width: 10%;
}

.partners-container {
  position: relative;
  background: #e6e6e6;
  padding: 3rem;
  margin-top: 55px;
}
.bg.prize {
  background-image: url(/images/bg1.png);
  width: 85%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50px;
  z-index: 1;
}
.partners-container h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Fuggles", cursive;
}
.partners-container .separator {
  margin-bottom: 50px;
}

.sponsor__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  justify-items: center;
  row-gap: 3.5rem;
}

.partners__content:hover .partners__img {
  filter: invert(0);
}

.partners__img {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 120px;
  filter: invert(0.5);
  transition: 0.3s;
}
.partners-section {
  padding: 3.5rem 0 4.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}

.h-line {
  position: relative;
}
.line1 {
  bottom: 50px;
}

.h-line::before {
  position: absolute;
  content: "";
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 6rem;
  background-color: crimson;
}

@media all and (max-width: 1200px) {
  .panel-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .bd-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 20px;
  }
}

@media all and (max-width: 650px) {
  .panel-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .bd-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin: 20px;
  }

  .skills-data {
    width: 300px;
  }
}
