.services-container {
  text-align: center;
  padding: 0rem 0 2rem 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.services-top {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.services-wrapper::before,
.services-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.panel-cards {
  display: flex;
}

.panel {
  position: relative;
  margin: 50px 20px;
  padding: 0 20px 20px;
  background: #f2f2f2;
  overflow: hidden;
  width: 270px;
  height: 450px;
  text-align: center;
  box-shadow: 0 0 20px 8px #d0d0d0;
  transition: border 200ms ease-in-out;
  cursor: pointer;
}
.panel img {
  width: 40%;
}
.services-wrapper .panel h3 {
  display: block;
  margin-bottom: 25px;
  margin-top: 20px;
  /* color: crimson; */
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services-wrapper .panel p {
  font-size: 15px;
  text-shadow: 0 1px 1px white;
}

.services-wrapper .panel .slide {
  position: absolute;
  bottom: 450px;
  left: 0;
  z-index: 100;
  padding: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #15595a;
  box-sizing: border-box;
  transition: all 300ms 500ms cubic-bezier(0.645, 0.045, 0.0355, 1);
}

.services-wrapper .panel .slide h4 {
  margin-bottom: 20px;
  text-align: center;
  text-shadow: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.services-wrapper .panel .slide ul li {
  padding: 5px 5px 5px 8px;
  line-height: 50px;
  font-size: 15px;
  color: white;
  border-bottom: 1px solid #3e737b;
  list-style: none;
}

.services-wrapper .panel .slide ul li:last-child {
  border: 0;
}

.services-wrapper .panel .slide ul li .fa {
  padding-right: 80px;
  color: #fefefe;
}

.panel:hover {
  border: 2px solid #30bb57;
}

.panel:hover .slide {
  bottom: 0;
  cursor: pointer;
}
.fa-4x {
  color: crimson;
}
.person {
  height: 400px;
  margin-bottom: 100px;
  background: url("/images/interior.jpg") center center/cover;
}

.partners {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.partners-container {
  position: relative;
  background: #e6e6e6;
  padding: 3rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}
.partners-container h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}
.partners-container .separator {
  margin-bottom: 50px;
}
.partners-wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.partners-wrapper ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.partners-list > li {
  width: 160px;
  margin: 0px 100px;
  display: inline-block;
  opacity: 0.5;
}
.partners-list > li:hover {
  opacity: 1;
}
.partners-list > li > img {
  margin: auto;
}

@media all and (max-width: 1200px) {
  .panel-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media all and (max-width: 800px) {
  .partners-wrapper ul {
    display: block;
    position: relative;
  }
  .partners-list > li {
    width: 160px;
    margin: 0px 100px;
    display: inline-block;
    opacity: 0.5;
  }
}
