.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar.active {
  background: linear-gradient(90deg, rgb(66, 29, 139) 0%, rgb(0, 75, 97) 100%);
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 50%);
  transition: 0.5s ease;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
}
.navbar-logo span {
  color: yellow;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  padding-left: 3px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 70px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-size: 15px;
}
.nav-links-active {
  border-bottom: 4px solid yellow;
}

.nav-links:hover {
  color: yellow;
  transition: all 0.3s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.language {
  position: relative;
  left: 50px;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .navbar-logo {
    font-size: 2rem;
    letter-spacing: 0px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-bottom: none;
    border-radius: 0;
  }
  .nav-links-active {
    border-bottom: none;
    color: yellow;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -15px;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    position: absolute;
    top: 5;
    right: 30px;
    font-size: 1.8rem;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: -20px;
  }
  .menu-icon::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: 1s ease infinite;
  }
  .close-menu {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }

  .language {
    display: none;
  }
  .menu-language {
    display: grid;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 950px) {
  .menu-language {
    display: none;
  }
}

@media screen and (min-width: 980px) and (max-width: 1300px) {
  .navbar-container {
    width: 1100px;
  }
  .nav-menu {
    grid-template-columns: repeat(5, auto);
    grid-gap: 1px;
    list-style: none;
    text-align: center;
    width: 40vw;
    margin-right: 3rem;
  }
}
